.note {
    margin: 0 auto;
}

.custom-glyphicon {
    float: right;
}

.note-heading {
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #DDDDDD;
    background-color: #F8F8F8;
}

.note-list {
    padding-right: 0px;
}

.note-list .list-group{
    border-radius: 0;
}

.note-list .list-group-item:first-child {
    border-radius: 0;
    border-top: 0px solid;
}

.note-list .list-group-item:last-child {
    border-radius: 0;
}

.custom-create-button {
    margin-bottom: 10px;
}

.note-create {
    padding: 15px 0px 30px 15px;
}

.subtitle {
    display: block;
}
.pl-0{
    padding-left:0;
}
.pr-0{
    padding-right:0;
}

@media (max-width:767px) {
    .note-create{padding: 0;}

}